body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content:space-between;
    margin-left:3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
header>h1{
    font-weight: 300;
}
nav{
    width: 30vw;
    position: relative;
    top:1rem;
    right: 1.5rem;
}

ul{
    display: flex;
    justify-content:space-evenly;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

section img{
    position: relative;
    width: 95vw;
    left: 1.5vw;
}