body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content:space-between;
    margin-left:3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
header>h1{
    font-weight: 300;
}
nav{
    width: 28rem;
    position: relative;
    top:1rem;
    right: 2rem;
}

ul{
    display: flex;
    justify-content:space-evenly;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

section img{
    position: relative;
    width: 95vw;
    left: 1.5vw;
}

article{
    display: flex;
    justify-content:space-between;
    margin-top:3rem;
}

article div{
    text-align: center;
    margin:2rem;
}

article div h3{
    font-size: 1.5rem;
    font-weight: 300;
}

article p{
    font-size: 1.4rem;
}

footer{
    background-color: black;
    color: white;
    height: 4rem;
    text-align: center;
}

footer h3{
    position: relative;
    font-size: 1.5rem ;
    font-weight: 300;
    top:1rem;
}